* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
}
  
i {
    color: #59BDCD;
    font-size: 20px;
}
.background-img {/* style voor achtergrond */
    height: 90vh;
    padding-top: 10vh;
    background-image: url("img/img.jpeg");
    background-size: cover;
}

.main-content-wrapper {/*style voor de hoofdinhoud van de pagina*/
    width: 1300px;
    margin: 0 auto;
    height: 90vh;
    background-color: white;
}

.main-content-top {
    width: 1100px;
    margin:0 auto;
}

.main-content-logo {
    display: block;
    margin-bottom: 10px;
}

.whitespace {
    height: 50px;
}

.top-text1 {
    font-size: 24px;
    font-weight: bold;
}

.top-text2 {
    color: #59BDCD;
    font-size: 26px;
    font-weight: bold;
}
.top-text3 {
    font-size: 18px;
}
.top-text4 {
    font-size: 18px;
}

.link-span {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.btn-balk {
  text-align: center;

}
.btn-balk button {
    width: 200px;
    font-size: 18px;
    background-color: lightgrey;
}

.btn-balk button:hover {
    background-color: grey;
}


#question-title {
    font-size: 26px;
    margin-left: 60px;
    color: blue;
    text-decoration: underline;
}

#question-element {
    font-size: 22px;
    margin-left: 60px;
    width: 700px;
    height: 120px;
}

#btn-agree {
    background-color: #00cc66;
}

#btn-disagree {
    background-color: #800000;
}

.blue-btn {
    background-color: #4db8ff !important;
    border: #000066 2px solid;
}